<!DOCTYPE html>
<html>
    <body style="background-color:whitesmoke"></body>
    <head>
        <title>About us</title>
        <h1 style="text-align: center;">Serious Software, Friendly Company.</h1>
        <p style="text-align: center;">Software is our craft and our passion.<br>
             At Rkh,<br>
             we create beautiful software to solve business problems.<br>
             We believe that software is the ultimate product of the mind and the hands..</p>

             <p style="text-align: center;">But as much as we love building beautiful software,<br>
                  we think our people and company culture are our most important assets.<br>
                   Our engineers spend years mastering their craft, bringing together decades of engineering expertise to produce a real work of art.<br>
                    When you choose Rkh, you get more than just a single product or a tightly integrated suite.<br>
                     You get our commitment to continuous refinement and to improving your experience.<br>
                  And you get our relentless devotion to your satisfaction.</p>

                  <h1 style="text-align: center;">A focus on what matters.</h1> 

                  <p style="text-align: center;">Rkh is committed to spending your money wisely.<br>
                     We invest more in product development and customer support than in sales and marketing.<br>
                      It always struck us as paradoxical to charge the customer extra for the privilege of marketing back to them.<br>
                       By keeping our cost of attracting customers low,<br>
                       we keep our prices affordable and pass the savings onto our users.<br>
                        We’re gentle in our sales approach, so we don't push our people to push you.<br>
                         You won’t find us trying to endlessly upsell you,<br>
                          or buying your loyalty through multi-year contracts.<br>
                          And with growth that regularly outstrips our competitors,<br>
                         we know that this model works.</p>

                         <p style="text-align: center;">© All copy rights reserved</p>>