<!DOCTYPE html>
<html>
<head>
  <body>
    <h1 style="text-align: center;">WELCOMES TO DASHBOARD</h1>

<style>
  
body, html {
  height: 70%;
  margin: 0;
}


.bg {
  /* The image used */
  background-image: url("../static/images/rkh\ dp.jpeg");

  /* Full height */
  height: 100%; 
  width: 100%;

  /* Center and scale the image nicely */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 15%;
}

</style>
<div class="bg"></div>
<h1 style="text-align: center;">RIKASHRAZIK</h1>
<p style="text-align: center;">Seeking an entry-level oppurtunity with an esteemed organization<br>
   where i can utlize my skills and enhance learning in the field of work.<br>
   Capable of mastering new technologies with hard working and optimistic mind.</p>><br>

   <h2 style="text-align: center;">EDUCATION</h2>
   <p style="text-align: center;">BE COMPUTER SCIENCE 7.4CGPA
    RVS ENGINEERING COLLEGE COIMBATORE<br>
     11-12 from MUBARAK HSS THALASSERY with 84%<br>
      10th from NAM HSS THALASSERY with 93%</p><br>


      <h2 style="text-align: center;">SKILLS SUMMARY</h2>
      <p style="text-align: center;">
        Project Management<br>
         Software Development<br>
        Programming<br>
        Testing and debugging<br> 
        codes Software desingning<br>
        HTML,CSS<br>
         SQL<br>
         C,C++<br>
         PYTHON<br>
         JAVA<br>
         .NET</p><br>

         
         <h2 style="text-align: center;">COURSES COMPLETED</h2>
         <p style="text-align: center;">
        PYTHON FOR DATASCIENCE<br>
        PYTHON BOOTSTRAP<br>
        .NET<br>
        HTML,CSS<br>
        JAVA PROGRAMMING<br>
        </p><br>


        <h2 style="text-align: center;">INTERNSHIP</h2>
        <p style="text-align: center;">
        .NET FROM KELTRON<br>
        SOFTWARE ENGINEERING VIRTUAL EXPERIENCE<br>
        SEO TOOLKIT<br>

        <h2 style="text-align: center;">PROJECT</h2>
        <p style="text-align: center;">
          DOMAIN : IMAGE PROCESSING<br>
          fake currency detection by open CV method
        </p>
        
        <h2 style="text-align: center;">LANGUAGES KNOWN</h2>
        <p style="text-align: center;">
        ENGLISH<br>
        ARABIC<br>
        HINDI<br>
        TAMIL<br>
        MALAYALAM<br>
        </p>

        <h2 style="text-align: center;">CONTACT ME AT</h2>
        <p style="text-align: center;">
          rikashrazik@icloud.com<br>
          rikash.razik.7@gmail.com<br>
          PHONE : 9947771344<br>
          ADDRESS : 'THOUFEEK'<br>
           MLA ROAD, NEWMAHE<br>
          KANNUR-673311
          KERALA
          </p>









</head>
</html>

</body>